{{!
You can use this template to render any errors on your site if you wish
}}

<main class="error-page">
    <p class="error-message">{{message}}</p>
    <a href="/" class="return-button">Search for Another Movie</a>
</main>